
<div class="container-fluid">
  <div class="row">
    <div class="card mx-auto">
      <div class="card-body p-4">
        <h1>Aplicacion de Notas</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
        <a class="lead" href="/register">Registrate </a> para comenzar a tener tus notas.
      </div>
    </div>
  </div>
</div>
