
<div class="container mt-3">
  <div class="row">
    <div class="card col-md-8 mx-auto">
      <form class="card-body" action="/register" method="POST">
        <h4>Registrate</h4>
        <input type="text" name="username" class="my-2 form-control" placeholder="Nombre de Usuario">
        <input type="email" name="email" class="my-2 form-control" placeholder="Correo Electronico ">
        <input type="password" name="password" class="my-2 form-control" placeholder="Contraseña">
        <input type="password" name="confirm_password" class="my-2 form-control" placeholder="Repetir Contraseña">
        <input type="submit" class="my-2 btn btn-primary w-100" value="Registrarte">
      </form>
    </div>
  </div>
</div>
